<body class="login-bg">
  <div class="header">
    <div class="jumbotron" style="padding: 20px">
      <h1 style="text-align: center; padding: 10px; color: #2E8B57; font-family: 'Pacifico', cursive; text-shadow: 2px 2px 5px white">The Green Thumb
      </h1>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="card">
        <div class="card-body" style="font-family: serif;">
          <div class="col-md-6 col-md-offset-3">
            <h2>Login Form</h2>
            <form class="login">
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="email-input" placeholder="Email">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="password-input" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-outline-dark">Login</button>
            </form>
            <br />
            <p>Or sign up <a href="/">here</a></p>
          </div>

        </div>
      </div>
    </div>

  </div>


</body>
<script type="text/javascript" src="js/login.js"></script>