<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
    </div>
  </div>
</nav>
<div class="header">
    <div class="jumbotron" style="padding: 20px">
      <h1 style="text-align: center; padding: 10px; color: #2E8B57; font-family: 'Pacifico', cursive;">The Green Thumb
      </h1>
    </div>
  </div>
<div class="container"style="font-family: serif;">
  <div class="row">
    <div class="col-md-6">
      <h2>Welcome <span class="member-name"></span></h2>
      <form class="search">
        <div class="col-md-6">
          <input type="name-search" class="searchValue" id="name-search" placeholder="Search by name...">
          <button type="submit" class="btn btn-default sumbit">Plant</button>
        </div>
      </form>
      <div class="row">
        <form class="filter">
          <div class="row" id="filter">

          </div>
          <button type="submit" class="btn btn-default sumbit">Apply Filters</button>
        </form>
      </div>
    </div>
    <div class="col-md-6" >
      <div class="album py-5 bg-light" id="gardendiv-bg">
        <div class="container" >
          <div class="row">
            <h3 style="color:white;">My Garden</h3>
            <div class="row">
              <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" data-src="" alt="">
                  <div class="card-body">
                    <p class="card-text">User Selection</p>
                    <div class="d-flex justify-content-between align-items-center"></div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" data-src="" alt="">
                  <div class="card-body">
                    <p class="card-text">User Selection</p>
                    <div class="d-flex justify-content-between align-items-center"></div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" data-src="" alt="">
                  <div class="card-body">
                    <p class="card-text">User Selection</p>
                    <div class="d-flex justify-content-between align-items-center"></div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="card mb-4 box-shadow">
                    <img class="card-img-top" data-src="" alt="">
                    <div class="card-body">
                      <p class="card-text">User Selection</p>
                      <div class="d-flex justify-content-between align-items-center"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card mb-4 box-shadow">
                    <img class="card-img-top" data-src="" alt="">
                    <div class="card-body">
                      <p class="card-text">User Selection</p>
                      <div class="d-flex justify-content-between align-items-center"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card mb-4 box-shadow">
                    <img class="card-img-top" data-src="" alt="">
                    <div class="card-body">
                      <p class="card-text">User Selection</p>
                      <div class="d-flex justify-content-between align-items-center"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" <div class="card-body">
        <div class="well" id="stats">
          <h2 id="title">Plants:</h2>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script type="text/javascript" src="js/members.js"></script>