<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>Welcome <span class="member-name"></span></h2>
      <form class="search">
        <div class="col-md-6">
          <input type="name-search" class="searchValue" id="name-search" placeholder="Search by name...">
          <button type="button" id="lookup" class="btn btn-default sumbit">Plant</button>
        </div>
      </form>
    </div>
  </div>
    <div class="row">

        <form class="filter">
          <div class="row" id="filter">

          </div>
          <button type="button" id="lookup" class="btn btn-default sumbit">Apply Filters</button>
        </form>
    </div>
      <form class="myGarden">
        <div class="card-body">
          <div class="well" id="stats">
            <h2 id="title">Plants:</h2>
          </div>
        </div>
      </form>
    <script type="text/javascript" src="js/members.js"></script>