<body class="members-bg">
{{!-- Navabr --}}
<nav class="navbar navbar-default ">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
    </div>
    
  </div>
</nav>

{{!-- Jumbotron --}}
<div class="header">
  <div class="jumbotron" style="padding: 20px">
    <h1 style="text-align: center; padding: 10px; color: #2E8B57; font-family: 'Pacifico', cursive; text-shadow: 2px 2px 5px white;
}">The Green Thumb
    </h1>
  </div>
  
</div>

{{!-- Whole Page Container --}}
<div class="container" style="font-family: serif;">
  <div class="row">
    {{!-- Welcome User and Filter --}}
    <div class="col-md-5 border border-dark bg-light" id="welcome">
      <h2>Welcome <span class="member-name"></span></h2>
      <div class="col-md-6">
        <form class="search">
          <input type="name-search" class="searchValue" id="name-search" placeholder="Search by name...">
          <button type="submit" class="btn btn-dark sumbit">Plant</button>
        </form>
      </div>
      {{!-- Filter --}}
      <a class="btn btn-dark" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
        aria-controls="collapseExample"><span>Filter Search
        <i class="fas fa-filter"></i>
        </span>
      </a>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          <button type="submit" class="btn btn-default sumbit">Apply Filters</button>
          <form class="filter">
            <div class="row" id="filter">
            </div>
          </form>
        </div>
      </div>
       <br>
      {{!-- Garden Item Search --}}
      <div class="row" class="card-body">
        <div class="scroll" id="stats">
          <h2 id="title">Plants:</h2>
        </div>
      </div>
    </div>
    {{!-- Garden column --}}
    <div class="col-md-7">
      <div class="album py-5 bg-light" id="gardendiv-bg">
        <div class="container">
          <div class="row">
            <h3 style="color:white;">My Garden</h3>
            <div class="row">
              <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" data-src="" alt="">
                  <div class="card-body">
                    <p class="card-text">User Selection</p>
                    <div class="d-flex justify-content-between align-items-center"></div>
                  </div>
                </div>
              </div>
              {{!-- User Selection Placeholders --}}
              <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" data-src="" alt="">
                  <div class="card-body">
                    <p class="card-text">User Selection</p>
                    <div class="d-flex justify-content-between align-items-center"></div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" data-src="" alt="">
                  <div class="card-body">
                    <p class="card-text">User Selection</p>
                    <div class="d-flex justify-content-between align-items-center"></div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="card mb-4 box-shadow">
                    <img class="card-img-top" data-src="" alt="">
                    <div class="card-body">
                      <p class="card-text">User Selection</p>
                      <div class="d-flex justify-content-between align-items-center"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card mb-4 box-shadow">
                    <img class="card-img-top" data-src="" alt="">
                    <div class="card-body">
                      <p class="card-text">User Selection</p>
                      <div class="d-flex justify-content-between align-items-center"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card mb-4 box-shadow">
                    <img class="card-img-top" data-src="" alt="">
                    <div class="card-body">
                      <p class="card-text">User Selection</p>
                      <div class="d-flex justify-content-between align-items-center"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     

    </div>
  </div>
</div>
<footer class="footer">
  <div class="container">
    <span class="text" style="color: #2E8B57;">The Green Thumb &#169;</span>
  </div>
</footer>
</body>

<script type="text/javascript" src="js/members.js"></script>