{{!-- Navabr --}}
<nav class="navbar navbar-default bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
    </div>
  </div>
</nav>

<div class="container">

  <div class="row">

    <div class="col-md-6 border border-dark">
      <h2>Welcome <span class="member-name"></span></h2>
      <form class="search">
        <div class="col-md-6">
          <input type="name-search" class="searchValue" id="name-search" placeholder="Search by name...">
          <button type="submit" class="btn btn-default sumbit">Plant</button>
      </form>
    </div>
    {{!-- Filter --}}
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
      aria-controls="collapseExample">
      <i class="fas fa-filter"></i>
    </a>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <form class="filter">
          <div class="row" id="filter">
          </div>
          <button type="submit" class="btn btn-default sumbit">Apply Filters</button>
        </form>
      </div>
    </div>
  </div>


  <div class="col-md-6">
    <div class="album py-5 bg-light">

      <div class="container">
        <div class="row">
          <h3>Your Garden</h3>
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="" alt="">
                <div class="card-body">
                  <p class="card-text">User Selection</p>
                  <div class="d-flex justify-content-between align-items-center"></div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="" alt="">
                <div class="card-body">
                  <p class="card-text">User Selection</p>
                  <div class="d-flex justify-content-between align-items-center"></div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="" alt="">
                <div class="card-body">
                  <p class="card-text">User Selection</p>
                  <div class="d-flex justify-content-between align-items-center"></div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" data-src="" alt="">
                  <div class="card-body">
                    <p class="card-text">User Selection</p>
                    <div class="d-flex justify-content-between align-items-center"></div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" data-src="" alt="">
                  <div class="card-body">
                    <p class="card-text">User Selection</p>
                    <div class="d-flex justify-content-between align-items-center"></div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" data-src="" alt="">
                  <div class="card-body">
                    <p class="card-text">User Selection</p>
                    <div class="d-flex justify-content-between align-items-center"></div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="row" class="card-body">
      <div class="scroll" id="stats">
        <h2 id="title">Plants:</h2>
      </div>
    </div>

  </div>

</div>
</div>
<script type="text/javascript" src="js/members.js"></script>